/* start --- 6101.css --- */
.table {
    vertical-align: bottom;
    background: rgba(255,255,255,0.2);
    border: collapse;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: rgba(255,255,255,0.4);
}
tr:nth-child(odd) {
    background: rgba(255,255,255,0.6);
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #eceeef;
}
.thead-inverse th {
    color: #fff;
    background-color: #373a3c;
}
/* end --- 6101.css --- */
